:root {
  --kirin: #22a9c7;
  --lemon: #f9e133;
  --kirin-dark: #4dc5e0;
  --kirin-darker: #24b7d8;
  --kirin-darkest: #1d93ae;
  --kirin-light: #77d3e7;
  --kirin-lighter: #77d3e7;
  --kirin-lightest: #caeef6;
  --lemon-dark: #f9e134;
  --lemon-darker: #f5d807;
  --lemon-darkest: #c6ae05;
  --lemon-light: #fae864;
  --lemon-lighter: #fbef93;
  --lemon-lightest: #fdf6c3;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
